#bnc_earth_hour {
	position: fixed;
	top: 0px;
	right: 0px;
	background: #220;
	opacity: 0.1;	
	color: #fff;
	width: 100%;
	font-family: "Lucida Grande";
	font-size: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: right;
	padding-right: 10px;
	border-bottom: 1px solid #555;
	height: 13px;
}

#bnc_earth_hour #inner {
	
}

#bnc_earth_hour #inner a {
	color: #8f8;
	text-decoration: none;
	font-weight: normal;
}

#bnc_earth_hour #inner a:hover {
	color: #cfc;
}
