#bnc_earth_hour {
	position: fixed;
	top: 0px;
	right: 0px;
	background: #000;
	opacity: 0.8;	
	color: #fff;
	width: 100%;
	font-family: "Lucida Grande";
	font-size: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	text-align: right;
	padding-right: 10px;
}

#bnc_earth_hour a {
	color: #33f;
}
